@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
    var model = Model.Root();
    var value = string.Empty;
    var dynamicList = model.Descendants<ContentModels.Dynamic>().Where(x => x.IsVisible());
    var verticalList = model.Descendants<ContentModels.Vertical>().Where(x => x.IsVisible());
    var bucketList = model.Descendants<ContentModels.BucketList>().Where(x => x.IsVisible());

}
<section class="banner_style" style="background-image: url(@Model.HomeBanner.Url()); margin-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="banner_container">
                    <div class="container">
                        <h1><span> @Model.WelcomeNotes </span> @Model.Title</h1>
                        <div class="highlight">@Model.SubTitle</div>
                        <p>@Model.Description</p>
                        <a data-fancybox data-small-btn="true" class="btnFillup liquidbg"
                            href="@Model.Link.Url">
                            Watch Video
                            <div class="icon"></div>
                        </a>
                        <!--  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  -->

<section class="lot_more_style mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>@Model.TitleSA <span> @Model.SubTitleSA </span></h1>
            </div>
        </div>
        <div class="row animatedParent">
            <div class="col-md-4 col-12 left_content_wrp animated fadeInUpShort">
                @Model.DescriptionSA
            </div>
            <div class="col-md-7 offset-md-1 col-12 right_slider_wrp animated fadeInRightShort">
                <div class="Home_offer_slider">
                    @foreach (ContentModels.Dynamic item in dynamicList)
                    {
                        <div class="slide">
                            <div class="image_style">
                                <div class="caption">
                                    <h3>@item.Title</h3>
                                    <h5>@item.Description</h5>
                                </div>
                                <img src="@item.BackroundImage.Url()" class="image" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!--  -->

<!-- Vertical Slider -->

        <section>
            <div class="container-fuild">
                <div class="row">
                    <div class="col-12">
                        <div class="Slide_wrp">
                            <div class="slides">
								@foreach (ContentModels.Vertical item in verticalList)
								{
								    <div class="slide" style="background-image: url(@item.BackroundImage.Url());">
                                    <div class="caption_style">
                                        <h1>@item.Title</h1>
                                        <h2>@item.Description</h2>
                                        <div class="slide_btn">
                                            <a href="@item.Link.Url" tabindex="0"> Know More <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>  
								}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!--Bucket List-->

<section class="Bucket_list_style">
    <div class="container-fluid">
        <div class="row animatedParent">
            <div class="col-12 NoPadMar">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="sec_heading">
                                <h1>Bucket list Hotspots</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Bucket_list animated fadeInRightShort">
							@foreach (ContentModels.BucketList item in bucketList)
							{
                            <div class="slide">
                                <div class="thumbnail_style">
                                    <div class="static_text">
                                        <h2>@item.Title</h2>
                                        <h1>@item.SubTitle</h1>
                                    </div>
                                    <div class="static_text_bottom">@item.Description</div>
                                    <img src="@item.BackgroundImage.Url()" />
                                    <div class="content_thumb">
                                        <div class="hover_content">
                                            <div class="sec_wrp">
                                                <div class="title">Best time to visit</div>
                                                <div class="month">@item.BestTimeToVisit</div>
                                            </div>
                                            <!--  -->
                                            <div class="sec_wrp">
                                                <div class="title">Known for</div>
                                                <p>@item.KnownFor</p>
                                            </div>
                                            <!--  -->
                                            <div class="sec_wrp" style="border: 0px;">
                                                <div class="title">Budget</div>
                                                <p>
													@item.Budget
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
							}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Touch Down-->

<section class="touchdown_style mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec_heading white_text">
                    <h1>Touchdown!</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 Left_bar">
                <div class="row">
                    <div class="col-md-12">
                        <div class="image_effect">
                            <figure class="effect-ruby">
                                <img src="@Model?.ImageTd1.Url()" />
                                <figcaption>
                                    <h2>@Model?.TitleTd1<span> @Model?.DescriptionTd1
                                        </span></h2>

                                        

                                    <div class="hidden">
                                        <div class="button">
                                            <a href="@Model?.LinkTd1.Url">
                                                <i class="fa fa-long-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="image_effect">
                            <figure class="effect-ruby">
                                <img src="@Model?.ImageTd2?.Url()" />
                                <figcaption>
                                    <h2>@Model?.TitleTd2<span> @Model?.DescriptionTd2</span></h2>
                                    <div class="hidden">
                                        <div class="button">
                                            <a href="@Model?.LinkTd2.Url"> <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-md-8 Right_bar">
                <div class="row">
                    <div class="col-12">
                        <div class="image_effect">
                            <figure class="effect-ruby">
                                <img src="@Model?.ImageTd3.Url()" />
                                <figcaption>
                                    <h2>@Model?.TitleTd3<span> @Model?.DescriptionTd3 </span></h2>
                                    <div class="hidden">
                                        <div class="button">
                                            <a href="@Model?.LinkTd3.Url"> <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="image_effect">
                                    <figure class="effect-ruby">
                                        <img src="@Model?.ImageTd4?.Url()" />
                                        <figcaption>
                                            <h2>
                                                @Model?.TitleTd4
                                                <span>
                                                    @Model?.DescriptionTd4
                                                </span>
                                            </h2>
                                            <div class="hidden">
                                                <div class="button">
                                                    <a href="@Model?.LinkTd4.Url"> <i class="fa fa-long-arrow-right"></i> </a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>

                            <!--  -->
                            <div class="col-md-6 col-xs-12">
                                <div class="image_effect">
                                    <figure class="effect-ruby">
                                        <img src="@Model?.ImageTd5?.Url()" />
                                        <figcaption>
                                            <h2>@Model?.TitleTd5<span> @Model?.DescriptionTd5
                                                </span></h2>
                                            <div class="hidden">
                                                <div class="button">
                                                    <a href="@Model?.LinkTd5.Url"> <i class="fa fa-long-arrow-right"></i> </a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Map Start -->

<section class="home_map_style NoPadMar animatedParent">
    <div class="container-fluid NoPadMar scroll animated fadeInUpShort">
        <div class="centered-cover">
            <h1>Discover South Africa</h1>
            <div class="flex-break">
                <select class="form">
                    @{
                        var number = byte.MinValue;
                    }
                    
                    @foreach (var item in @Model?.DropDown)
                    {
                        string[] split = @item.City.Split(null);
                        value =  $"{split[0]}-{split[1]}";                        
                        <option value= "@value" class="active"> @item?.City </option>
                    }
                </select>
                <!-- Active-Adventure Start -->
                @foreach(var item in @Model?.DropDown)
                {
                    string[] split = @item?.City.Split(null);
                    value =  $"{split[0]}-{split[1]}";  
                    
                    <div class="box @value">
                        <ul class="map_points">
                            @foreach (var northernCape in @item?.NorthernCape)
                            {
                                number = ++number;  
                                if(northernCape.ShowHide == true)
                                { 
                                    <li class="Northern_Cape">
                                        <div class="img_div">
                                            <img src="@northernCape?.Icon.Url()" />
                                        </div>
                                            @northernCape?.Title
                                        <a data-fancybox data-src="#@number" href="javascript:;">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </a>
                                    
                                        <div style="display: none;" id="@number" class="map_popup_style">
                                            <div class="video_wrp">
                                                @if(northernCape?.PopupVideoOnOff == true)
                                                {
                                                    <video width="400px" height="220px" controls id="image">
                                                        <source src="@northernCape?.PopupVideo.MediaUrl()" />
                                                    </video>
                                                }
                                                else
                                                { 
                                                    <img width="400px" height="220px" controls id="image" src="@northernCape?.PopUpImage.Url()" type="jpg/png" />
                                                }
                                            </div>
                                            <div class="content_wrp">
                                                <div class="icon_wrp">
                                                    <img src="@northernCape?.PopUpLogo.Url()" />
                                                </div>
                                                <h2>@northernCape?.Location</h2>
                                                <h1><a href="@northernCape?.ActivityLink.Url" target="_blank" style="color:black">@northernCape?.Activity</a></h1>
                                                <p>@northernCape?.ActivityDescription</p>
                                            </div>
                                        </div>
                                    </li>
                                    
                                }
                            }
                            @foreach (var westernCape in @item?.WesternCape)
                            {
                                number = ++number;  
                                if(westernCape.ShowHide == true)
                                { 
                                    <li class="Western_Cape">
                                        <div class="img_div">
                                            <img src="@westernCape?.Icon.Url()" />
                                        </div>
                                            @westernCape?.Title
                                        <a data-fancybox data-src="#@number" href="javascript:;">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <div style="display: none;" id="@number" class="map_popup_style">
                                        <div class="video_wrp">
                                            @if(westernCape?.PopupVideoOnOff == true)
                                            {
                                                <video width="400px" height="220px" controls id="image">
                                                    <source src="@westernCape?.PopupVideo.MediaUrl()" />
                                                </video>
                                            }
                                            else
                                            { 
                                                <img width="400px" height="220px" controls id="image" src="@westernCape?.PopUpImage.Url()" type="jpg/png" />
                                            }
                                        </div>
                                        <div class="content_wrp">
                                            <div class="icon_wrp">
                                                <img src="@westernCape?.PopUpLogo.Url()" />
                                            </div>
                                            <h2>@westernCape?.Location</h2>
                                            <h1><a href="@westernCape?.ActivityLink.Url" target="_blank" style="color:black">@westernCape?.Activity</a></h1>
                                            <p>@westernCape?.ActivityDescription</p>
                                        </div>
                                    </div>
                                }
                            }
                            @foreach (var limpopo in @item?.Limpopo)
                            {
                                number = ++number;  
                                if(limpopo.ShowHide == true)
                                { 
                                    <li class="Limpopo">
                                        <div class="img_div">
                                            <img src="@limpopo?.Icon.Url()" />
                                        </div>
                                            @limpopo?.Title
                                        <a data-fancybox data-src="#@number" href="javascript:;">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                        <div style="display: none;" id="@number" class="map_popup_style">
                                            <div class="video_wrp">
                                                @if(limpopo?.PopupVideoOnOff == true)
                                                {
                                                    <video width="400px" height="220px" controls id="image">
                                                        <source src="@limpopo?.PopupVideo.MediaUrl()" />
                                                    </video>
                                                }
                                                else
                                                { 
                                                    <img width="400px" height="220px" controls id="image" src="@limpopo?.PopUpImage.Url()" type="jpg/png" />
                                                } 
                                            </div>
                                            
                                            <div class="content_wrp">
                                                <div class="icon_wrp">
                                                    <img src="@limpopo?.PopUpLogo.Url()" />
                                                </div>
                                                <h2>@limpopo?.Location</h2>
                                                <h1><a href="@limpopo?.ActivityLink.Url" target="_blank" style="color:black">@limpopo?.Activity</a></h1>
                                                <p>@limpopo?.ActivityDescription</p>
                                            </div>
                                        </div>
                                }
                            }
                            @foreach (var gauteng in @item?.Gauteng)
                            {
                                number = ++number;  
                                if(gauteng.ShowHide == true)
                                { 
                                    <li class="Gauteng">
                                        <div class="img_div">
                                            <img src="@gauteng?.Icon.Url()" />
                                        </div>
                                            @gauteng?.Title
                                        <a data-fancybox data-src="#@number" href="javascript:;">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                        <div style="display: none;" id="@number" class="map_popup_style">
                                            <div class="video_wrp">
                                                @if(gauteng?.PopupVideoOnOff == true)
                                                {
                                                    <video width="400px" height="220px" controls id="image">
                                                        <source src="@gauteng?.PopupVideo.MediaUrl()" />
                                                    </video>
                                                }
                                                else
                                                { 
                                                    <img width="400px" height="220px" controls id="image" src="@gauteng?.PopUpImage.Url()" type="jpg/png" />
                                                }
                                            </div>
                                            <div class="content_wrp">
                                                <div class="icon_wrp">
                                                    <img src="@gauteng?.PopUpLogo.Url()" />
                                                </div>
                                                <h2>@gauteng?.Location</h2>
                                                <h1><a href="@gauteng?.ActivityLink.Url" target="_blank" style="color:black">@gauteng?.Activity</a></h1>
                                                <p>@gauteng?.ActivityDescription</p>
                                            </div>
                                        </div>
                                }
                            }
                            @foreach (var mpumalanga in @item?.Mpumalanga)
                            {
                                number = ++number;  
                                if(mpumalanga.ShowHide == true)
                                { 
                                    <li class="Mpumalanga">
                                        <div class="img_div">
                                            <img src="@mpumalanga?.Icon.Url()" />
                                        </div>
                                            @mpumalanga?.Title
                                        <a data-fancybox data-src="#@number" href="javascript:;">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                        <div style="display: none;" id="@number" class="map_popup_style">
                                            <div class="video_wrp">
                                                @if(mpumalanga?.PopupVideoOnOff == true)
                                                {
                                                    <video width="400px" height="220px" controls id="image">
                                                        <source src="@mpumalanga?.PopupVideo.MediaUrl()" />
                                                    </video>
                                                }
                                                else
                                                { 
                                                    <img width="400px" height="220px" controls id="image" src="@mpumalanga?.PopUpImage.Url()" type="jpg/png" />
                                                }
                                            </div>
                                            <div class="content_wrp">
                                                <div class="icon_wrp">
                                                    <img src="@mpumalanga?.PopUpLogo.Url()" />
                                                </div>
                                                <h2>@mpumalanga?.Location</h2>
                                                <h1><a href="@mpumalanga?.ActivityLink.Url" target="_blank" style="color:black">@mpumalanga?.Activity</a></h1>
                                                <p>@mpumalanga?.ActivityDescription</p>
                                            </div>
                                        </div>
                                }
                            }
                            @foreach (var kwazulNatal in @item?.KwazulNatal)
                            {
                                number = ++number;  
                                if(kwazulNatal.ShowHide == true)
                                { 
                                    <li class="KwaZul_Natal">
                                        <div class="img_div">
                                            <img src="@kwazulNatal?.Icon.Url()" />
                                        </div>
                                            @kwazulNatal?.Title
                                        <a data-fancybox data-src="#@number" href="javascript:;">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                        <div style="display: none;" id="@number" class="map_popup_style">
                                            <div class="video_wrp">
                                                @if(kwazulNatal?.PopupVideoOnOff == true)
                                                {
                                                    <video width="400px" height="220px" controls id="image">
                                                        <source src="@kwazulNatal?.PopupVideo.MediaUrl()" />
                                                    </video>
                                                }
                                                else
                                                { 
                                                    <img width="400px" height="220px" controls id="image" src="@kwazulNatal?.PopUpImage.Url()" type="jpg/png" />
                                                }
                                            </div>
                                            <div class="content_wrp">
                                                <div class="icon_wrp">
                                                    <img src="@kwazulNatal?.PopUpLogo.Url()" />
                                                </div>
                                                <h2>@kwazulNatal?.Location</h2>
                                                <h1><a href="@kwazulNatal?.ActivityLink.Url" target="_blank" style="color:black">@kwazulNatal?.Activity</a></h1>
                                                <p>@kwazulNatal?.ActivityDescription</p>
                                            </div>
                                        </div>
                                }
                            }
                            @foreach (var freeState in @item?.FreeState)
                            {
                                number = ++number;  
                                if(freeState?.ShowHide == true)
                                {
                                    <li class="Free_State">
                                        <div class="img_div">
                                            <img src="@freeState?.Icon.Url()" />
                                        </div>
                                            @freeState?.Title
                                        <a data-fancybox data-src="#@number" href="javascript:;">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                        <div style="display: none;" id="@number" class="map_popup_style">
                                            <div class="video_wrp">
                                                @if(freeState?.PopupVideoOnOff == true)
                                                {
                                                    <video width="400px" height="220px" controls id="image">
                                                        <source src="@freeState?.PopupVideo.MediaUrl()" />
                                                    </video>
                                                }
                                                else
                                                { 
                                                    <img width="400px" height="220px" controls id="image" src="@freeState?.PopUpImage.Url()" type="jpg/png" />
                                                }
                                            </div>
                                            <div class="content_wrp">
                                                <div class="icon_wrp">
                                                    <img src="@freeState?.PopUpLogo.Url()" />
                                                </div>
                                                <h2>@freeState?.Location</h2>
                                                <h1><a href="@freeState?.ActivityLink.Url" target="_blank" style="color:black">@freeState?.Activity</a></h1>
                                                <p>@freeState?.ActivityDescription</p>
                                            </div>
                                        </div>
                                }
                            }
                            @foreach (var easternCape in @item?.EasternCape)
                            {
                                number = ++number;  
                                if(easternCape.ShowHide == true)
                                {
                                    <li class="Eastern_Cape">
                                        <div class="img_div">
                                            <img src="@easternCape?.Icon.Url()" />
                                        </div>
                                            @easternCape?.Title
                                        <a data-fancybox data-src="#@number" href="javascript:;">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                        <div style="display: none;" id="@number" class="map_popup_style">
                                            <div class="video_wrp">
                                                @if(easternCape?.PopupVideoOnOff == true)
                                                {
                                                    <video width="400px" height="220px" controls id="image">
                                                        <source src="@easternCape?.PopupVideo.MediaUrl()" />
                                                    </video>
                                                }
                                                else
                                                { 
                                                    <img width="400px" height="220px" controls id="image" src="@easternCape?.PopUpImage.Url()" type="jpg/png" />
                                                }
                                            </div>
                                            <div class="content_wrp">
                                                <div class="icon_wrp">
                                                    <img src="@easternCape?.PopUpLogo.Url()" />
                                                </div>
                                                <h2>@easternCape?.Location</h2>
                                                <h1><a href="@easternCape?.ActivityLink.Url" target="_blank" style="color:black">@easternCape?.Activity</a></h1>
                                                <p>@easternCape?.ActivityDescription</p>
                                            </div>
                                        </div>
                                }
                            }
                            @foreach (var northWest in @item?.NorthWest)
                            {
                                number = ++number;  
                                if(northWest.ShowHide == true)
                                {
                                    <li class="North_West">
                                        <div class="img_div">
                                            <img src="@northWest.Icon.Url()" />
                                        </div>
                                            @northWest?.Title
                                        <a data-fancybox data-src="#@number" href="javascript:;">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                        <div style="display: none;" id="@number" class="map_popup_style">
                                            <div class="video_wrp">
                                                @if(northWest?.PopupVideoOnOff == true)
                                                {
                                                    <video width="400px" height="220px" controls id="image">
                                                        <source src="@northWest?.PopupVideo.MediaUrl()" />
                                                    </video>
                                                }
                                                else
                                                { 
                                                    <img width="400px" height="220px" controls id="image" src="@northWest?.PopUpImage.Url()" type="jpg/png" />
                                                }
                                            </div>
                                            <div class="content_wrp">
                                                <div class="icon_wrp">
                                                    <img src="@northWest?.PopUpLogo.Url()" />
                                                </div>
                                                <h2>@northWest?.Location</h2>
                                                <h1><a href="@northWest?.ActivityLink.Url" target="_blank" style="color:black">@northWest?.Activity</a></h1>
                                                <p>@northWest?.ActivityDescription</p>
                                            </div>
                                        </div>
                                }
                            }
                            @foreach (var bungeeJumping in @item?.BungeeJumping)
                            {
                                number = ++number;  
                                if(bungeeJumping.ShowHide == true)
                                {
                                    <li class="Bungee_Jumping">
                                            @bungeeJumping?.Title
                                        <a data-fancybox data-src="#@number" href="javascript:;">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                        <div style="display: none;" id="@number" class="map_popup_style">
                                            <div class="video_wrp">
                                                @if(bungeeJumping?.PopupVideoOnOff == true)
                                                {
                                                    <video width="400px" height="220px" controls id="image">
                                                        <source src="@bungeeJumping?.PopupVideo.MediaUrl()" />
                                                    </video>
                                                }
                                                else
                                                { 
                                                    <img width="400px" height="220px" controls id="image" src="@bungeeJumping?.PopUpImage.Url()" type="jpg/png" />
                                                }
                                            </div>
                                            <div class="content_wrp">
                                                <div class="icon_wrp">
                                                    <img src="@bungeeJumping?.PopUpLogo.Url()" />
                                                </div>
                                                <h2>@bungeeJumping?.Location</h2>
                                                <h1><a href="@bungeeJumping?.ActivityLink.Url" target="_blank" style="color:black">@bungeeJumping?.Activity</a></h1>
                                                <p>@bungeeJumping?.ActivityDescription</p>
                                            </div>
                                        </div>
                                }
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
        <img src="assets/images/map.jpg" />
    </div>
</section>
