@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<OContactLocationContainer>
@inject Microsoft.Extensions.Hosting.IHostingEnvironment hostingEnvironment
<section class="oski-pb-3 oski-pt-3">
    <div class="contacts-page__information">
        @foreach (var item in Model.OContacts.OItems)
        {
            <p class="contacts-page__address">@item</p>
        }
        @foreach (var link in Model.OContacts.OLinks)
        {
            var url = link?.OLink?.FirstOrDefault()?.Url ?? "#";
            <a href="@url" class="contacts-page__link">@link.OTitle</a>
        }
        <div class="header__socials">
            @foreach (SocialLink link in Model.OSocialLinks)
            {
                var linkUrl = link?.OUrl.First()?.Url ?? "#";
                <a href="@linkUrl" target="@(link?.OUrl.First().Target)" class="header__social">
                    @Html.Raw(System.IO.File.ReadAllText(hostingEnvironment.ContentRootPath + "\\" + link.OIcon?.Url()))
                </a>
            }
        </div>
    </div>
</section>