@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<OHome>
@{
	var logoFooter = Model.OFooterLogo != null ? Model.OFooterLogo.Url() : String.Empty;
	var year = DateTime.Now.Year;
}

        <footer class="footer">
			<div class="footer__content">
				<div class="container">
					<div class="footer__block">
						<div class="footer__services">
							<h4 class="footer__services-title">@Model.OServices.OTitle</h4>
							<ul class="footer__services-menu">
							    @foreach(var link in Model.OServices.OItems){
							        var url = link?.OLink?.FirstOrDefault()?.Url ?? "#";
								    <li><a href="@url" class="footer__services-link">@link.OTitle</a></li>
								}
							</ul>
						</div>
						<nav class="footer__navigation">
							<ul class="footer__navigation-menu">
							    @foreach(var link in Model.OFooterNavigation.OItems){
							        var url = link?.OLink?.FirstOrDefault()?.Url ?? "#";
								    <li><a href="@url" class="footer__navigation-link">@link.OTitle</a></li>
								}
							</ul>
						</nav>
						<div class="footer__contacts">
							<h4 class="footer__contacts-title">@Model.OContacts.OTitle</h4>
							@foreach(string str in Model.OContacts.OItems){
							    <p class="footer__contacts-address">@str</p>
							}
							  @foreach(var link in Model.OContacts.OLinks){
							        var url = link?.OLink?.FirstOrDefault()?.Url ?? "#";
							        <a href="@url" class="footer__contacts-link">@link.OTitle</a>
								}
						</div>
						<div class="footer__info">
							<a href="#" class="footer__info-logo">
								<img src="@logoFooter" alt="Logotype">
							</a>
							<div class="footer__info-socials">
							    @foreach(SocialLink link in Model.OSocialLinks){
								var linkUrl = link?.OUrl.FirstOrDefault()?.Url ?? "#";
                                <a href="@linkUrl" target="@(link?.OUrl.FirstOrDefault().Target)" class="footer__info-link">
                                    @Html.Raw(System.IO.File.ReadAllText("wwwroot" + link.OIcon.Url()))
                                </a>
						    	}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer__copyright">
				<div class="container">
					<p class="footer__copyright-text">@year -  <a href="#">OSKI.solutions</a> - This site is running Umbraco version 9.1.2 </p>
				</div>
			</div>
		</footer>