@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<OImageInfoContainer>

@{
	var image = Model.OImage != null ? Model.OImage.Url() : String.Empty;
	var url = Model.OLink != null ? Model.OLink.Url :  String.Empty;
}

<section class="about oski-mb-3 oski-mt-3"  id="about">
				<div class="container">
					<div class="about__inner">
						<h3 class="about__info-title about__info-title--main section-title">About us</h3>
						<div class="about__content">
							<div class="about__image">
								<img src="@image" alt="Image in section 'About'">
							</div>
							<div class="about__info">
								<h3 class="about__info-title section-title">@Model.OTitle</h3>
								<p class="about__info-subtitle">@Model.OSubTitle</p>
								@foreach(string str in Model.OItems){
								<p class="about__info-text">@str</p>
								}
								<a class="about__info-link" href="@url"><span>Find out more</span> &rarr;</a>
							</div>
						</div>
					</div>
				</div>
			</section>