@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<OPlansCardsContainer>


<section class="support-plans oski-mt-4 oski-mb-4" id="support">
    <div class="container">
        <h3 class="support-plans__title">@Model.OTitle</h3>
        <div class="support-plans__cards">
            @foreach (var item in Model.Items)
            {
                string color = string.IsNullOrEmpty(item.OBackgroundColor?.ToString()) ? "#70e3e1" : $"#{item.OBackgroundColor}";
                var currency = item.OCurrency[0];
            <div class="support-plans__item">

                <h4 class="support-plans__title-item" style="background-color:@color">@item.OTitle</h4>

                <p class="support-plans__price-item"><span style="color:@color">@currency@item.OPrice</span></p>
                <p class="support-plans__subtext-price">@item.OPeriod</p>
                <p class="support-plans__content-item">
                    @item.ODescription
                </p>
                @if (item.Olink != null)
                {
                <a href="@item.Olink.Url" class="support-plans__button-item">@item.Olink.Name</a>
                }
            </div>
            }
        </div>
    </div>
</section>