@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<OSliderContainer>
@{

    string imageType = Model.OImageType == "rectangle" ? "0" : "50%";

}

<section class="new-team" id="team">
    <div class="container">
        <h3 class="new-team__title section-title">@Model.OTitle</h3>
        <p class="new-team__text">@Model.OSubTitle</p>
        <div class="new-team__slider" data-slides-show="@Model.NumberOfSlides">
            @foreach (var slide in Model.OItems)
            {
                <div class="new-team__slide">
                    <div class="new-team__slide-content">
                        <div class="new-team__slide-pictures">
                            <div class="new-team__slide-image" style="border-radius: @imageType;">
                                <img src="@(slide.OImage?.Url() ?? "#")" alt="@slide.OTitle">
                            </div>
                        </div>
                        <span class="new-team__slide-name">@slide.OTitle</span>
                        <p class="new-team__slide-position">@slide.OSubTitle</p>
                        <div class="new-team__slide-info">
                            @foreach (var text in slide.OStrings)
                            {
                                <p class="new-team__slide-text">@text</p>
                            }
                        </div>
                        <div class="new-team__slide-contacts">

                            @foreach (var website in slide.OItems.OfType<WebsiteLink>())
                            {
                                <a href="@website.OUrl" class="new-team__slide-email">@website.OTitle</a>
                            }

                            @foreach (var link in slide.OItems.OfType<Link>())
                            {
                                var styleLink = slide.OItems.OfType<WebsiteLink>().Count() == 0 && slide.OItems.OfType<Email>().Count() == 0 ? "new-team__slide-link" : "";
                                <a href="@(link.OLink.First()?.Url)" class="new-team__slide-email @styleLink">test</a>
                            }

                            @foreach (Email email in slide.OItems.OfType<Email>())
                            {
                                <a href="mailto:@email.OMail" class="new-team__slide-email">@email.OTitle</a>
                            }

                            <div class="new-team__slide-socials">

                                @foreach (SocialLink link in slide.OItems.OfType<SocialLink>())
                                {
                                    var linkUrl = link?.OUrl.FirstOrDefault()?.Url ?? "#";

                                <a class="new-team__slide-social" href="@linkUrl" target="@(link?.OUrl.First().Target)">
                                    @Html.Raw(System.IO.File.ReadAllText("wwwroot" + link.OIcon.Url()))
                                </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.OButtonName) && !string.IsNullOrWhiteSpace(Model.OButtonUrl.Url))
        {
            <a class="new-team__link" href="@Model.OButtonUrl.Url">@Model.OButtonName</a>
        }
    </div>
</section>