@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{              
    Layout = null;
    var model = (OHome)Model.Root();
 }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @Html.Partial("MetaTags", Model)
    <link rel="icon" type="image/png" href="/content/favicon.png" sizes="16x16">
    <link rel="preload" as="font" href="/Oski-assets/fonts/LatoRegular.woff" type="font/woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="/Oski-assets/fonts/LatoRegular.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/Oski-assets/fonts/LatoBold.woff" type="font/woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="/Oski-assets/fonts/LatoBold.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/Oski-assets/fonts/LatoBlack.woff" type="font/woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="/Oski-assets/fonts/LatoBlack.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="stylesheet" href="/Oski-assets/css/libs.min.css" type="text/css">
    <link rel="stylesheet" href="~/Oski-assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/Oski-assets/css/glider.min.css" type="text/css">

    @Html.Raw(model.OTagManagerScript)

</head>
<body>
    @Html.Raw(model.OTagManagerNoscript)

    <div class="wrapper">
        @Html.Partial("oskiPartials/OHeader", model, new ViewDataDictionary(ViewData) { { "url", Model.Url() } })
        @RenderBody()
        @Html.Partial("oskiPartials/OFooterContainer", model)
    </div>
    <button id="to_top_button" title="Go to top">
        <span></span>
    </button>

    <script src="~/Oski-assets/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Oski-assets/Scripts/glider.min.js"></script>
    <script src="~/Oski-assets/Scripts/smoothscroll.min.js"></script>
    <script src="~/Oski-assets/Scripts/slick.min.js"></script>
    <script src="~/Oski-assets/Scripts/script.js"></script>
    </body>
</html>
